.footer__container {
  display: grid;
  padding-top: 22px;

  @media(min-width: @tablet-widths) {
    grid-template-columns: repeat(3, 1fr);
    padding-top: 40px;
  }
  @media(min-width: @desktop-widths) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.footer__wrapper-block {
  display: flex;
  align-items: center;
  grid-column-start: 1;
  grid-column-end: -1;

  @media(min-width: @desktop-widths) {
    grid-column-start: 1;
    grid-column-end: 2;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
  }
}

.footer__navigation-wrapper {

  @media(min-width: @tablet-widths) {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  @media(min-width: @desktop-widths) {
    grid-column-start: 2;
    grid-column-end: 3;
  }

}

.footer__media-wrapper {

  @media(min-width: @tablet-widths) {
    grid-column-start: 2;
    grid-column-end: 3;
  }

  @media(min-width: @desktop-widths) {
    grid-column-start: 3;
    grid-column-end: 4;
  }

}

.footer__contacts-wrapper {

  @media(min-width: @tablet-widths) {
    grid-column-start: 3;
    grid-column-end: 4;
  }

  @media(min-width: @desktop-widths) {
    grid-column-start: 4;
    grid-column-end: 5;
  }

}

.footer__logo {
  gap: 10px;
  margin-right: auto;
  align-items: flex-start;

  @media(min-width: @desktop-widths) {
    flex-direction: column;
  }
}

.footer__title {
  .font(700, 14px, 20px);
  color: @primary;
}

.logo__text--footer {
  @media(min-width: @desktop-widths) {
    br {
      display: none;
    }
  }
}

.footer__copyright {
  text-align: center;
  grid-column-start: 1;
  grid-column-end: -1;

  @media(min-width: @tablet-widths) {
    grid-column-start: 2;
    grid-column-end: 3;
  }

  @media(min-width: @desktop-widths) {
    grid-column-start: 2;
    grid-column-end: 4;
  }
}

.footer__address {
  .font(400, 14px, 20px);
  font-style: inherit;
  margin-bottom: 16px;
  position: relative;
  padding-left: 19px;

  &::before {
    position: absolute;
    left: 0;
    top: 2px;
    content: "";
    width: 13px;
    height: 16px;
    background: url("../img/address.svg")
  }
}

.footer__phone {
  display: inline-block;
  .reset-link();
  .font(400, 14px, 20px);
  position: relative;
  padding-left: 19px;

  &::before {
    position: absolute;
    left: 0;
    top: 2px;
    content: "";
    width: 13px;
    height: 16px;
    background: url("../img/tel.svg")
  }
}

.footer__copyright__text {
  .font(400, 12px, 16px);
  color: @bg-disabled;
}

.footer__copyright__link {
  .reset-link();
  display: inline-flex;
  gap: 4px;
  .font(400, 12px, 16px);
  color: @bg-disabled;
  fill: currentColor;

  &:hover,
  &:focus-within {
    color: @bg-hover;
    fill: currentColor;
  }

  &:active {
    color: @bg-active;
    fill: currentColor;
  }
}
