.promo-product {
  text-align: center;

  @media (min-width: @desktop-widths) {
    text-align: left;
  }
}

.promo-product__new {
  .font(700, 12px, 16px);
  color: @primary;
}

.promo-product__title {
  .font(700, 36px, 48px);

  @media (min-width: @tablet-widths) {
    .font(700, 56px, 80px);
  }
}

.promo-product__description {
  .font(400, 14px, 20px);

  @media (min-width: @tablet-widths) {
    .font(400, 20px, 32px);
  }

}
